@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body, html {
    padding-top: 45px;
    height: 100%;
}

